@import url("universal.css");
.bio-image-container img {
  border-top-right-radius: 60px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 60px;
}
.bio-intro-col h3 {
  font-size: 2.7rem;
  font-weight: 700;
}
.bio-intro-orange {
  font-weight: 600;
  font-size: 1.8rem;
  color: orangered;
}
.what-i-do {
  background: url("../media/pexels-ovan-57690.jpg") no-repeat center center;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}
.what-i-do .section-header h1 {
  border-bottom: 5px solid var(--text-color-constant);
  color: var(--text-color-constant);
}
.wid-col {
  background: var(--secondary-bg-color);
  border-radius: .5rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wid-col img {
  height: 120px;
}
.stats-section {
  background: rgba(0,0,0, 0.8);
  color: var(--text-color-constant);
}
.stats-section h3 {
  text-align: center;
  height: 75%;
  font-size: 2.5rem;
  border-right: 5px solid var(--navbar-bg-color);
}
.section-main .hih-col {
  border-right: 5px solid var(--component-bg);
}

@media screen and (max-width: 992px) {
  .stats-section h3 {
    border-right: none;
  }
  .section-main .hih-col {
    border-right: none;
  }
}
@media screen and (max-width: 768px) {
  
}