@import url("universal.css");
body {
  background-color: var(--secondary-bg-color);
}
.contact-submit-btn {
  background: var(--component-bg);
  color: var(--text-color);
}
#map {
  height: 220px;
}
#editor {
  height: 300px;
  background: var(--navbar-bg-color);
}




























/* SKELETON */
.skeleton {
  position: relative;
}
.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(90deg, #eee,#c4c4c4, #eee);
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}