@import url("universal.css");

.hero-section {
  height: 80vh;
  background: url("../media/banner-img.jpg") no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-size: cover;
}
.hero-section h1 {
  color: var(--text-color-2);
font-size: 3.2rem;
width: 60%; 
font-weight: 700;
}
.hero-content-box p {
  width: 40%;
  font-weight: normal;
  color: var(--text-color-2);
}
.hero-cta-btn {
  background: var(--component-bg);
  color: var(--text-color-2);
}
.section-header h1 {
  text-decoration: underline;
}
.color-change {
  color: var(--component-bg-2);
}
.hot-img-container {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.hot-img-container img {
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}
.cta-yellow {
  background: var(--component-bg-2);
}
.hp-project-col {
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background: url("../media/logo_large_text_full-removebg-preview.png") no-repeat center center;
  background-size: cover;
}