@import url("universal.css");
.hp-project-col {
  min-height: 200px;
  max-height: 210px;
}
.sample-project-display {
  border: 1px solid #000;
  position: relative;
}
.sample-project-display img {
  height: 100%;
}
.sample-project-display:hover .project-display-details {
  transform: scaleX(1);
}
.project-display-details {
  position: absolute;
  top: 0;bottom: 0;right: 0;left: 0;
  transition: 0.4s ease-in-out;
  background: rgba(0, 0, 0, 0.9);
  color: var(--text-color-constant);
  transform: scaleX(0);
  transform-origin: left;
}
.project-details-btn {
  color: var(--text-color-constant);
  background: var(--component-bg-2);
}
.project-details-btn::before {
  --border-size: 5px;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background: var(--component-bg);
  position: absolute;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
}
.project-details-btn:hover::before,
.project-details-btn:focus::before {
  transform: scaleX(1);
}
.project-details-btn:hover,
.project-details-btn:focus {
  font-size: 1.1rem;
}
.tech-used {
  background: var(--secondary-bg-color);
  height: 100px;
}
.tech-used img {
  height: 70px !important;
}
.search-section {
  height: 8em;
}
.project-search-form input {
  font-size: 1.5rem;
}
.project-search-form button {
  background: var(--component-bg);
  color: var(--navbar-bg-color);
  transition: 0.2s ease;
}
.project-search-form button:hover {
  background: var(--component-bg-2);
  color: var(--lt-text-color);
}
.search-box {
  top: -2.5rem;
  background: var(--secondary-bg-color);
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.7);
}
.hp-projects-filters button {
  transition: all 0.3s ease-in-out;
  border-color: var(--text-color);
}
.hp-projects-filters button:hover,
.hp-projects-filters button:focus {
  background: var(--component-bg-2);
}

@media screen and (max-width: 768px) {
  .tech-used img {
    height: 50px !important;
  }
}