@import url("universal.css");
body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
}
.project-info {
  width: 70%;
  height: 70%;
  position: relative;
  top: 4%;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
}
.project-info img {
  height: inherit;
  width: 100%;
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.project-details {
  position: absolute;
  top: 10%;
  width: 40%;
  height: 80%;
  right: 2rem;
  background: var(--main-bg-color);
  overflow-y: auto;
}
.project-details::-webkit-scrollbar {
  display: none;
}
.project-details p {
  line-height: 1.5rem;
}
.project-desc {
  font-size: 0.9rem;
}
.project-live-btn {
  background: var(--component-bg);
  color: var(--text-color);
}
.project-github-btn {
  background: var(--component-bg-2);
  color: var(--text-color);
}
@media screen and (max-width: 992px) {
  .project-mini-nav {
    font-size: 0.9rem;
  }
  .project-details {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .project-details {
    width: 80%;
  }
}
.project-live-btn,
.project-github-btn {
  transition: 0.3s ease-in-out;
}
.project-live-btn:hover {
  background-color: #163b54;
}
.project-github-btn:hover {
  background-color: #81450c;
}