@import url("universal.css");
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.project-info {
  width: 70%;
  height: 70%;
  position: relative;
  top: 4%;
  background: url("../media/jumbotron_bg.jpg") center center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
}
.project-details {
  position: absolute;
  top: 10%;
  width: 40%;
  height: 80%;
  right: 2rem;
  background: var(--main-bg-color);
  overflow-y: auto;
}
.project-details::-webkit-scrollbar {
  display: none;
}
.project-details p {
  line-height: 1.5rem;
}
.project-desc {
  font-size: 0.9rem;
}
.project-live-btn {
  background: var(--component-bg);
  color: var(--text-color);
}
.project-github-btn {
  background: var(--component-bg-2);
  color: var(--text-color);
}