@import url("universal.css");
.hp-project-col {
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background: url("../media/logo_large_text_full-removebg-preview.png") no-repeat center center;
  background-size: cover;
}
.tech-used {
  background: var(--secondary-bg-color);
  height: 100px;
}
.tech-used img {
  height: 70px !important;
}
.search-section {
  height: 8em;
}
.project-search-form input {
  font-size: 1.5rem;
}
.project-search-form button {
  background: var(--component-bg);
  color: var(--navbar-bg-color);
  transition: 0.2s ease;
}
.project-search-form button:hover {
  background: var(--component-bg-2);
  color: var(--lt-text-color);
}
.search-box {
  top: -2.5rem;
  background: var(--secondary-bg-color);
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.7);
}
.hp-projects-filters button {
  transition: all 0.3s ease-in-out;
  border-color: var(--text-color);
}
.hp-projects-filters button:hover,
.hp-projects-filters button:focus {
  background: var(--component-bg-2);
}

@media screen and (max-width: 768px) {
  .tech-used img {
    height: 50px !important;
  }
}