@import url("universal.css");

.project-submit-btn {
    background: var(--component-bg-2);
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}
.project-submit-btn:hover {
    background: rgb(174, 87, 5);
}