/* Boilerplate Styles */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@400;500;600;700&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* End Of Boilerplate */

/* Mode Toggle */
.mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  background: rgba(18, 24, 41, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}
.mode-toggle:hover,
.mode-toggle:focus {
  background: var(--primary-hover-bg);
  color: var(--text-color-constant);
}
/* End of Mode Toggle */

/* Body Universal Styles */
body {
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  --main-bg-color: #f6f6f6;
  --secondary-bg-color: #D8D8D8;
  --text-color: #07090F;
  --text-color-constant: #F6F6F6;
  --text-color-2: #F6F6F6;
  --component-bg: #185177;
  --component-bg-2: #f07605;
  --navbar-bg-color: #ffffff;
  --primary-hover-bg: #121829;
  background: var(--main-bg-color);
  color: var(--text-color);
}
body.dark-theme {
  --main-bg-color: #07090F;
  --secondary-bg-color: #13192A;
  --text-color: #F6F6F6;
  --text-color-2: #07090F;
  --component-bg: #EF7706;
  --component-bg-2: #185177;
  --navbar-bg-color: #171213;
}
body.dark-theme .hp-projects-filters button {
  color: var(--text-color);
  border-color: var(--text-color);
}
/* End of Body Styles */

/* Nav Styles */
body.dark-theme .dropdown-menu.show {
  background: var(--navbar-bg-color);
}
body.dark-theme .dropdown-menu li:hover a,
body.dark-theme .dropdown-menu li:hover a {
  color: var(--navbar-bg-color) !important;
}
nav.pageTopNav {
    background-color: var(--navbar-bg-color);
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.7);
  }
  .GITBtn {
    background-color: var(--component-bg);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border: none;
    z-index: 1;
  }
  .GITBtn a {
    color: var(--text-color-2);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  #pageTopNavMenuItems ul {
    font-size: 1.25rem;
  }
  #pageTopNavMenuItems ul li a {
    color: var(--text-color);
  }
  #pageTopNavMenuItems ul li.active{
    font-size: 1.5rem;
    font-weight: 700;
  }
  /* End of Nav Styles */
  
  /* Hover Animations for all buttons */
  .hp-footer-social a:hover {
    transform: scale(1.2);
  }

  .GIT-yellow {
    --border-size: 2px;
    background-color: var(--component-bg-2);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border: none;
    z-index: 1;
  }
  .GIT-yellow a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  .GIT-yellow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: var(--border-size) solid var(--component-bg-2);
    z-index: -1;
    transition: top, left, right, bottom, 0.1s ease-in-out;
  }
  .GIT-yellow:hover::before,
  .GIT-yellow:focus::before {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
  }


  .GITBtn::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    background: var(--component-bg-2);
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  .GITBtn:hover::before,
  .GITBtn:focus::before {
    transform: scaleX(1);
  }
  .GITBtn:hover a,
  .GITBtn:focus a {
    color: var(--text-color);
  }
  /* End of hover animations */

/* Footer and Copyright */
.hp-footer {
    background: var(--secondary-bg-color);
  }
  .copyright-section {
    height: 40px;
    background: var(--component-bg);
    color: var(--text-color-2);
  }
  .footer-col-2 ul{
    list-style-type: none;
  }
  .footer-col-2 ul li {
    color: var(--text-color);
  }
  .hp-footer-social a {
    color: var(--component-bg);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
/* End of Copyright */

/* Send Me a Msg */
.smam-section {
    background: url("../media/banner-img.jpg") no-repeat center center;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    color: var(--text-color-constant);
  }
  .smam-first-col {
    border-right: 5px solid var(--navbar-bg-color);
  }
  .smam-first-col h2 {
    font-size: 3rem;
  }
  .smam-submit-btn {
    background: var(--component-bg-2);
  }
/* End of Send Me a Msg */

/* Misc Styles */
.has-underline {
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  }
  .nb {
    border: none;
  }
  .btn {
    border-radius: 0;
  }
/* End of Misc Styles */

/* Image Banner Styles */
.image-banner {
    height: 15vh;
    background: url("../media/banner-img.jpg") no-repeat center center;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    color: var(--text-color-constant);
  }
  .banner-large {
    height: 22vh;
  }
  .banner-large .banner-logo-heading {
    font-family: 'Great Vibes', "Josefin Sans", sans-serif;
    font-size: 6rem;
    letter-spacing: .3rem;
  }
  .banner-logo-heading {
    font-family: 'Great Vibes', "Josefin Sans", sans-serif;
    font-size: 4rem;
    letter-spacing: .3rem;
  }
  .banner-tagline-text {
    font-size: 2.5rem;
    border-left: 5px solid var(--text-color-constant);
    color: var(--text-color-constant);
  }
/* End of Image Banner Styles */


/* SKELETON */
.skeleton {
    position: relative;
  }
  .skeleton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #eee,#c4c4c4, #eee);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
  }
  
  @keyframes skeleton {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
/* End of Skeleton */

/* Subpage Title Section */
.subpage-title-section {
    height: 27vh;
    background: url("../media/banner-img.jpg") no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-size: cover;
    color: var(--text-color-constant);
  }
  /* End of Subpage Title Section */

  /* Media Queries */
@media screen and (max-width: 992px) {
  .smam-first-col {
    border-right: none;
  }
}
@media screen and (max-width: 768px) {
  .banner-large .banner-logo-heading {
    font-size: 5.5rem;
  }
}
  /* End of Media Queries */